#navBar{
    text-align: center;
}

button{
    background-color: gray;
    color: white;
    width: 100px;
    margin-left: 100px;
    display: block;
    margin-top: 20px;
}

.item h1{
    margin-right: 85%;
}

.item img{
    margin-right: 85%;
    width: 100px;
    height: 100px;
}

.item p{
    margin-right: 85%;
    width: 100%;
    text-align: start;
    margin-left: 40px;
}

#footer{
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: gray;
}

#footer h1{
    text-align: center;
}

#bigContant{
    text-align: center;
    display: grid;
    grid-template-areas:
    'navBar navBar navBar navBar navBar navBar'
    'button  contant contant contant contant contant'
    'footer footer footer footer footer footer' 
    ;
}

#navBar{
    color: white;
    background-color: black;
    grid-area: navBar;
    width: 100%;
    height: 100%;
}

#button{
    
    background-color: gray;
    color: white;
    grid-area: button;
    width: 100%;
    height: 100%;
}

#contant{
    grid-area: contant;
    width: 100%;
    height: 100%;
}

#footer{
    color: white;
    background-color: black;
    grid-area: footer;
    width: 100%;
    height: 100%;
}

.item{
    border-radius: 20px;
    border: 1px solid lightgreen;
    margin-top: 20px;
    margin-left: 20px;
}

.item p:hover{
    color: lightgreen;
}